
#TopMenuWrapper {
  background: #1c202b;
  padding: 8px 0;
  border-bottom: 2px solid #6bbfdb;
}

#TopMenuWrapper .container {
  width: 100%;
  max-width: 1142px;
}

#TopMenuWrapper .col-md-12 {
  width: 100%;
  float: left;
}
